<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
	
	<!-- D3.js Chart Stuff Start -->
	<!-- <script src="http://d3js.org/d3.v4.min.js"> </script> -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"> </script>
	<!-- D3.js Chart  Stuff End -->

	<!-- CV Stuff Start - Fichiers CSS -->
	<link rel="stylesheet" href="PaulMurphy_GeekFiles/reset.css">
	<!--[if lt IE 9]> 
		<link rel="stylesheet" href="css/cv.css" media="screen">
	<![endif]-->
	<link rel="stylesheet" media="screen and (max-width:480px)" href="../cv/PaulMurphy_GeekFiles/mobile.css">
	<link rel="stylesheet" media="screen and (min-width:481px)" href="../cv/PaulMurphy_GeekFiles/cv.css">
	<link rel="stylesheet" media="print" href="../cv/PaulMurphy_GeekFiles/print.css">
	<!-- CV Stuff End -->
	
	<!-- Main CSS file -->
	<link rel="stylesheet" type="text/css" href="/css/main.css">
	<!-- -->
  
  </head>


  <body>
    <nav>
<ul>
<li><a href="/">Home</a></li>
<li><a href="/about">About</a></li>
<li><a href="/cv">CV</a></li>
<li><a href="/blog">Blog</a></li>
<li><a href="/min">Min Weekly</a></li>
</ul>
    </nav>
<div class="container">

  {{ content }}

</div>
  
  <footer>
   <ul>
   <li><a href="mailto:paulmurphymainstreet@gmail.com" target="_blank">email</a></li>
   <li><a href="https://github.com/Mur3ph" target="_blank">github.com/Mur3ph</a></li>
   </ul>
  </footer>
  </body>

</html>
